body{
   background-color: rgb(240, 241, 243)!important;
   -webkit-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
   user-select: none;
}

.menu{
  margin-top: 0 !important;
  padding: 12px;
  margin-bottom: 100px;
}

.menu a{
    color: #000;
    margin: 0 12px;
}

.menu a:hover{
    color: #000;
    text-decoration: none;
}

button{
    background-color: #fff!important;
    color: black!important;
    border: none!important;
}

button:focus, button:active{
    outline: none;
    box-shadow: none;
}

//.MainMenuContainerFlex {
//  display: flex;
//  flex-direction: column;
//  margin-bottom: 30px;
//}
//
//.MainMenuContainerFlexChildFloweria {
//  text-align: center;
//  font-size: 50px;
//  line-height: 1;
//}

.MainMenuContainerFlexChildFlowershop {
  text-align: center;
  font-size: 14px;
  font-weight: light;
  letter-spacing: 4px;
}

//.mainMenu a{
//  border-bottom: 1px solid transparent;
//  padding-bottom: 6px;
//}

//.mainMenu a:hover{
//  color: #dc3e66;
//  border-bottom: 1px solid #dc3e66;
//}
.mainMenu{
  margin-top: 30px;
  a{
    border-bottom: 1px solid transparent;
    padding-bottom: 6px;
  }

  a:hover{
    color: #dc3e66;
    border-bottom: 1px solid #dc3e66;
  }
}