//.banner-img-wrapper {
//  height: 100%;
//  padding: 0;
//}
//
//.banner-img-wrapper img {
//  height: 100%;
//  width: 100%;
//  object-fit: cover;
//}

//.list-content {
//  margin-top: 20px;
//}

//#button {
//  background-color: rgb(220, 62, 102) !important;
//  color: #fff !important;
//  cursor: pointer;
//  margin-top: 20px;
//  padding: 6px 22px;
//}

//#button:focus {
//  outline: none;
//}
//
//#button:hover {
//  box-shadow: 1px 1px 4px 2px rgba(220, 62, 102, 0.35);
//}

.list-content{
  background-color: #ffffff7a;
  padding: 50px 0 130px 0;
  h1{
    text-align: center;
    margin-bottom: 80px;
  }
}
.home a:not(:first-child){
  margin-left: 40px;
}
.menu-container{
  border: 1px solid red;
  background-color: red;
}
.home-content{
  //.text-content{
  //  //.backgroundBoldText{
  //  //  position: absolute;
  //  //  font-size: 136px;
  //  //  color: rgb(225, 226, 228);
  //  //  left: 10px;
  //  //  top: -22px;
  //  //  line-height: 0.4;
  //  //  z-index: -1;
  //  //}
  //}
  span:nth-child(1){
    font-size: 22px;
  }
  span:nth-child(2){
    color: rgb(220, 62, 102);
    position: absolute;
    left: 52%;
    top: 0;
    letter-spacing: 7px;
    font-size: 34px;
  }
  //h4{
  //  font-size: 14px;
  //  color: rgb(152, 149, 149);
  //  margin-top: 8px;
  //  margin-bottom: 60px;
  //}
  //p{
  //  color: rgb(152, 149, 149);
  //  font-size: 14px;
  //}
}
@media (max-width: 992px) {
  #happiness {
    font-size: 100px !important;
  }
}

@media (max-width: 768px) {
  #happiness {
    font-size: 104px !important;
  }
}

@media (max-width: 568px) {
  #happiness {
    font-size: 62px !important;
  }
}