.listing-item{
  .innerContent{
    background: #f0f1f3;
    padding: 12px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 12px 3px #80808030;
    -moz-box-shadow: 2px 2px 12px 3px #80808030;
    box-shadow: 2px 2px 12px 3px #80808030;
    text-align: center;
  }
  img{
    height: auto;
    width: 160px;
    object-fit: cover;
  }
  p{
    border-top: 1px solid #dc3e66;
    text-align: center;
    margin: 30px 0 0;
    padding: 14px;
    font-weight: bold;
  }
  span{
    display: block;
  }
}

.innerContentImg {
  color: #000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.innerContentImgP {
  text-align: center;
}

.innerContentSpan {
  display: block;
}
.listing h1{
  text-align: center;
  margin-bottom: 60px;
}