@font-face {
  font-family: weblySleek;
  src: url("../assets/weblysleekuisl.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: weblySleek;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}