/*.subcategories{*/
/*  padding: 0!important;*/
/*  img{*/
/*    height: 130px;*/
/*    width: 100%;*/
/*    object-fit: contain;*/
/*  }*/
/*  .innerContent{*/
/*    background: #f0f1f3;*/
/*    padding: 12px 0;*/
/*    -webkit-border-radius: 6px;*/
/*    -moz-border-radius: 6px;*/
/*    border-radius: 6px;*/
/*    -webkit-box-shadow: 2px 2px 12px 3px #80808030;*/
/*    -moz-box-shadow: 2px 2px 12px 3px #80808030;*/
/*    box-shadow: 2px 2px 12px 3px #80808030;*/
/*  }*/
/*  p{*/
/*    border-top: 1px solid #dc3e66;*/
/*    color: #dc3e66;*/
/*    text-align: center;*/
/*    margin: 30px 0 0;*/
/*    padding: 14px;*/
/*    font-weight: bold;*/
/*  }*/
/*}*/
/*.subcategories-header{*/
/*  margin-bottom: 40px;*/
/*}*/
/*.subcategoriesHeadline{*/
/*  text-align: center;*/
/*  margin-bottom: 80px;*/
/*}*/


.divContainerBig {
  border-radius: 50%;
}