.individual-list-wrapper .item{
  border: 1px solid black;
  display: flex;
}

.individual-list-wrapper .item img{
  height: 200px;
  width: 100%;
}
.individual-list-wrapper .item-child:nth-child(1){
  flex-basis: 30%;
}
.individual-list-wrapper .item-child:nth-child(2){
  flex-basis: 70%;
}
.individual-list-wrapper .order{
  border: 1px solid #af687b!important;
  border-radius: 10px;
  color: #af687b!important;
  cursor: pointer;
}
.individual-list-wrapper .order:focus{
  outline: none;
}
.order-btn-wrapper{
  margin-top: 50px;
}
.individual-list-wrapper .order:hover{
  border: 1px solid #d29ab0d4!important;
  color: #d29ab0d4!important;
}
.packaging{
  display: inline-block;
}


/* radio buttons  */
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #d29ab0d4;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: red;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

body label {
  display: block;
  line-height: 40px;
}